---
---

$header-color: #006EB6;
$header-nav-color: #006EB6;
$header-nav-hover-color: #0084C9;

$pagetitle-color: #005B99;

$main-color: #00386B;
$link-color: #008DE6;
$mail-color: #0051BA;

@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Josefin Sans Light"),
    local("JosefinSans-Light"),
    url("http://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z04GofcKVZz6wtzX_QUIqsI.woff2")
       format("woff2"),
    url("http://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z2Fp2sMiApZm5Dx7NpSTOZk.woff")
       format("woff");
}

@font-face {
    font-family: "Maven Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Maven Pro Regular"),
    local("MavenProRegular"),
    url("http://fonts.gstatic.com/s/mavenpro/v7/MG9KbUZFchDs94Tbv9U-pVtXRa8TVwTICgirnJhmVJw.woff2")
       format("woff2"),
    url("http://fonts.gstatic.com/s/mavenpro/v7/MG9KbUZFchDs94Tbv9U-pT8E0i7KZn-EPnyo3HZu7kw.woff")
       format("woff");
}

@font-face {
    font-family: "Gabrielle";
    src: url("{{site.baseurl}}/polices/Gabrielle.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    background: url("{{site.baseurl}}/images/fond.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

body {
    height: 100%;
}

#bloc_page {
    padding-bottom: 20px;
}

a:focus {
    outline: none;
}

#bloc_page > header {
    margin-bottom: 20px;
}

#bloc_page > header h1 {
    font-family: "Gabrielle";
    text-align: center;
    font-weight: normal;
    color: $header-color;
    font-size: 4em;
}

#bloc_page > header h1 a {
    color: inherit;
    text-decoration: inherit;
}

#bloc_page > header h2 {
    font-family: "Gabrielle";
    text-align: center;
    font-weight: normal;
    color: $header-color;
    position: relative;
    top: -30px;
    font-size: 2em;
}

#bloc_page > header nav {
    display: block;
    max-width: 950px;
    margin: auto;
}

#bloc_page > header nav ul {
    margin: 0px;
    padding: 0px;
}

#bloc_page > header nav li {
    display: inline-block;
    width: 16.2%;
    height: 50px;
    background-color: $header-nav-color;
    margin: 0px;
    white-space: nowrap;
    font-size: 90%;
}

#bloc_page > header nav li:hover {
    background-color: $header-nav-hover-color;
}

#bloc_page > header nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 13px;
    font-family: "Josefin Sans";
    font-weight: bold;
    white-space: pre;
}

#bloc_page > header nav li a:first-letter {
    font-size: 1.2em;
}

#contenu {
    max-width: 1000px;
    margin: auto;
    box-shadow: 1px 2px 5px #333;
    background-color: rgba(255,255,255,0.7);
    padding: 0;
    padding-bottom: 20px;
    color: $main-color;
    font-family: "Maven Pro";
}

#contenu > * {
    margin-left: 50px;
    margin-right: 50px;
}

#contenu > header {
    background-color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid $pagetitle-color;
    text-align: center;
}

#contenu > header h1 {
    color: $pagetitle-color;
    margin: 0;
    padding: 0;
    font-family: "Gabrielle";
    font-size: 2.3em;
    font-weight: normal;
}

#contenu section {
    clear: both;
}

#contenu > section {
    margin-top: 50px;
}

#contenu > section header {
    text-align: center;
}

#contenu section header h1 {
    font-family: "Gabrielle";
    font-weight: normal;
    font-size: 2em;
    margin: auto;
}

#contenu section header h1 * {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

#contenu ul {
    text-align: left;
}


#contenu h2 {
    font-family: "Gabrielle";
    font-weight: normal;
    font-size: 1.7em;
}

#contenu h3 {
    font-weight: normal;
    font-style: italic;
}

#contenu .photo {
    display: block;
    border: #cccccc solid 1px;
    margin-bottom: 50px;
    max-width: 80%;
}

#contenu .bloc {
    display: block;
}

#contenu .centree {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
}

#contenu .gauche {
    float: left;
}

#contenu .droite {
    float: right;
}

.avec_image_centree, .avec_image_droite, .avec_image_gauche {
    margin-top: 60px;
}

.avec_image_gauche {
    text-align: left;
}

.avec_image_droite {
    text-align: right;
}

.avec_image_centree {
    text-align: center;
}

.avec_image_droite img {
    margin-top: 10px;
    margin-left: 50px;
    float: right;
}

.avec_image_gauche img {
    margin-top: 10px;
    margin-right: 50px;
    float: left;
}

.avec_image_centree img {
    margin-top: 35px;
    margin-bottom: 40px;
    margin: auto;
}

#contenu .cadre_10 {
    box-shadow:
    0 0 0 10px white,
    1px 2px 5px 11px rgba(0, 0, 0, 0.7);
}

#contenu .cadre_20 {
    box-shadow:
    0 0 0 20px white,
    1px 2px 5px 21px rgba(0, 0, 0, 0.7);
}

#contenu a {
    color: $link-color;
    text-decoration: none;
}

#contenu a:hover {
    text-decoration: underline;
}

#contenu a[href^=mailto] {
    color: $mail-color;
}

.chant {
    text-align: center;
}

.chant iframe {
    margin-top: 10px;
}

.chant audio {
    margin-top: 10px;
}

.chant .refrain {
    font-weight: bold;
}

.chant .couplets {
    padding: none;
    counter-reset: numCouplet;
}

.chant .couplets li:before {
    counter-increment: numCouplet;
    content: counter(numCouplet) ". ";
}

.chant .couplets li {
    display: block;
    margin-bottom: 1em;
}

.clear_float {
    clear: both;
}

table {
    width: 90%;
}

th, td {
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

thead th {
    background-color: $header-nav-hover-color;
    color: white;
    font-weight: normal;
}

tbody th {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #d0e2ea;
}

tr:nth-child(even) {
    background-color: #e9f0f5;
}

td {
    text-align: center;
}

/*
footer {
    background: url("{{site.baseurl}}/images/decoration-page-300x92.png")
                   no-repeat center center;
    margin: auto;
    margin-top: 20px;
    height: 100px;
}
*/
